<!DOCTYPE html>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/1.png')}}"class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Geography writing competition</h5>
                        <p class="card-text">Date: 18:30 PM Oct 21, 2025</p>
                        <p class="card-text color:">Location: Brisbane</p>
                        <p class="card-text">Price: $1</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/2.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Olympic Games - Elevate 2042 - Legacy </h5>
                        <p class="card-text">Date: 19:00 PM Aug 1, 2025</p>
                        <p class="card-text">Location: Brisbane</p>
                        <p class="card-text">Prices: $12</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/3.jpeg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Recovering nature for the benefit of people and planet</h5>
                        <p class="card-text">Date: 20:00 PM July 5, 2025</p>
                        <p class="card-text">Location: Brisbane</p>
                        <p class="card-text">Prices: $30</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/museum.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Visit to the Queensland communications Museum</h5>
                        <p class="card-text">Date: 17:30 PM Aug 1, 2025</p>
                        <p class="card-text">Location: The Queensland communication Museum </p>
                        <p class="card-text">Prices: $10</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2>News & Article</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/4.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Geography writing competition</h5>
                        <p class="card-text">Date: 18:30 PM Aug 21, 2025</p>
                        
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Entry</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/5.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Olympic Games - Elevate 2042 - Legacy </h5>
                        <p class="card-text">Date: 19:00 PM Aug 1, 2025</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Entry</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/6.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Recovering nature for the benefit of people and planet</h5>
                        <p class="card-text">Date: 20:00 PM July 5, 2025</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Entry</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/8.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Visit to the Queensland communications Museum</h5>
                        <p class="card-text">Date: 17:30 PM Aug 1, 2025</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Entry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>