<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>RGSQ</title>
</head>

<body style="background-color:#f8f9fa;">
 
   
    <div class="d-flex align-items-center p-3">
        <a class="navbar-brand" href="{{ url_for('Home') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" style="height: 60px;">
            <span class="fs-4 fw-bold">RGSQ</span>
        </a>
    </div>

      
    <div class="container text-center mt-5">
        {% if ev.image %}
        <img src="{{ url_for('static', filename=ev.image) }}" class="img-fluid rounded mx-auto d-block"
            style="max-width: 55%; height: auto;" alt="Event image">
        {% else %}
        <img src="{{ url_for('static', filename='images/hero.jpg') }}" class="img-fluid rounded mx-auto d-block"
            style="max-width: 55%; height: auto;" alt="Default event image">
        {% endif %}
        <h3 class="fw-bold mb-3">{{ ev.title }}</h3>

        <p><strong>Date & Time:</strong> {{ ev.event_time }}</p>
        <p><strong>Location:</strong> {{ ev.location }}</p>
        <p><strong>Price:</strong> ${{ ev.price }}</p>

        <div class="event-description mt-4">
            {% if ev.description %}
            <div class="description-text">
                {{ ev.description }}
            </div>
            {% else %}
                <p>No description available for this event.</p>
        </div>
            {% endif %}

        
        <div class="mt-4 d-flex justify-content-center gap-3">
            <a href="{{ url_for('register_event_confirm', event_id=event.id) }}"
                class="btn btn-success px-4">Register</a>
            <a href="{{ url_for('Eventlist') }}" class="btn btn-secondary px-4">Back to Events</a>
        </div>
    </div>
    <hr style="border: 1px solid black; margin: 40px 40px;">

    <footer class="footer">
        <div class="footer-container">
            <a href="https://cdn.wildapricot.com/240825/resources/Documents/Administrative/2018_RGSQ%20Ltd_Privacy%20Policy.pdf?version=1575264460000&Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vY2RuLndpbGRhcHJpY290LmNvbS8yNDA4MjUvcmVzb3VyY2VzL0RvY3VtZW50cy9BZG1pbmlzdHJhdGl2ZS8yMDE4X1JHU1ElMjBMdGRfUHJpdmFjeSUyMFBvbGljeS5wZGY~dmVyc2lvbj0xNTc1MjY0NDYwMDAwIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNzU0OTc4MjUxfSwiSXBBZGRyZXNzIjp7IkFXUzpTb3VyY2VJcCI6IjAuMC4wLjAvMCJ9fX1dfQ__&Signature=e-RdXWajsAbE4LFyQ~hwXrXoWC8wP5EwhHoDHEffWy3MGI55BfvRt4fYvNEVPtpaOIns3hBdhjKgt0-W37QYT5GfX3atUEKyYd9dXTh88512Ce4~nuqAfhDH4Gx2~YShFV9N9AlZ6AGqwnrJWm-maa4hTTBXIECnzDtBPNaFceQO3lEUHz9dXHM~iEQsxAAs7bNgtEbaoWr-vyfkl7VN4ShXo2d7QMB5kVqWvxTbh2naIVD0RZE8aN5RKxKnapZ4Mt4QpLBI6Nc5HOPt~cODJiQEyRxSzYYc-tp45ZsKKKtp3DaHoFQ~cjrTpJml1FzRNjw~IoacOCsITqHFtob2VA__&Key-Pair-Id=K27MGQSHTHAGGF"
                class="footer-link">Privacy Policy</a>
            <span class="footer-separator">|</span>
            <a href="Contact.html" class="footer-link">Contact Us</a>
            <span>© 2025 RGSQ</span>
            <span class="footer-separator">|</span>
            <a href="#" class="footer-link">Site Map</a>
        </div>
    </footer>


</body>

</html>