<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>RGSQ</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('Home') }}">
                <img src="{{url_for('static',filename='images/logo.png')}}" alt="Logo" class="navbar-logo">
                <div class="navbar-title">RGSQ</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Home') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Society</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Aboutsociety.html">About the society</a>
                            <a class="dropdown-item" href="Governance.html">Governance</a>
                            <a class="dropdown-item" href="Committees.html">Committees</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Event
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Eventlist.html">Event List</a>
                            <a class="dropdown-item" href="Create.html">Create Event</a>
                            <a class="dropdown-item" href="Update Event.html">Update Event</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            PROJECTS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="AustraliaGeographyCompitions.html">Australia Geography
                                Compitions</a>
                            <a class="dropdown-item" href="Lambertcenter.html">Lambert center</a>
                            <a class="dropdown-item" href="Queenslandbydegrees.html">Queensland by Degrees</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Library.html">Library</a>
                            <a class="dropdown-item" href="Venuehire.html">Venue Hire</a>
                            <a class="dropdown-item" href="Bulletin.html">Bulletin</a>
                            <a class="dropdown-item" href="Geographywebsite.html">Geography website</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Membership
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Memberbenefits.html">Benefits</a>
                            <a class="dropdown-item" href="JoinRGSQ.html">Join RGSQ</a>
                        </div>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="Contact.html">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSetting" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Username
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownSetting">
                            <a class="dropdown-item" href="JoinRGSQ.html">Join RGSQ</a>
                            <a class="dropdown-item" href="Login.html">Login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

        <div class="container my-4">
        <div class="p-3 px-mb-4 rounded-3" style="background: #0861af; color:white">
            <h2 class="m-0"> Geographic Websites </h2>
        </div>
        <hr style="border: 1px solid black; margin: 20px 20px;">
        <section class="mb-5">
            <h2 class="h3"> Australia sites:</h2>
            <ul class="linl-list list-unstyled ms-0">
                <li>
                    <a href="https://www.abs.gov.au/">Australian Bureau of Statistics</a>
                </li>
                <li>
                    <a href="https://www.abs.gov.au/statistics/statistical-geography">Australian Bureau of Statistics - Geography</a>
                </li>
                <li>
                    <a href="https://citizenscience.org.au/">Australian Citizen Science Association </a>
                </li>
                <li>
                    <a href="https://www.australiangeographic.com.au/">Australian Geographic</a>
                </li>
                <li>
                    <a href="https://www.infoplease.com/atlas/pacific-islands/australia-map">Australia - Infoplease Encyclopaedia</a>
                </li>
                <li>
                    <a href="https://www.geogsoc.org.au/site/index.cfm?display=649100">Geographical Society of NSW</a>
                </li>
                <li>
                    <a href="https://www.homeofgeography.org/">Home of Geography</a>
                </li>
                <li>
                    <a href="https://www.iag.org.au/">Institute of Australian Geographers</a>
                </li>
                <li>
                    <a href="https://scienceqld.org/">Queensland Science Network</a>
                </li>
            </ul>
            <div class="callout rounded-3 shadow-sm p-4 my-4">
                <p class="mb-2 muted-note">The Queensland Science Network (QSN) is a collaboration between Queensland’s science societies to promote science events and activities and to share knowledge. QSN is hosted by The Royal Society of Queensland, the State’s oldest learned academy. RGSQ is one of the twenty seven member organisations and we encourage our members to visit the QSN website and subscribe to their informative Newsletter from the QSN home page.</p>
            </div>
            <ul class="link-list list-unstyled ms-0">
                <li>
                    <a href="https://rgssa.org.au/">Royal Geographical Society of South Australia</a>
                </li>
                <li>
                    <a href="https://sssi.org.au/">Spatial Sciences Institute Australia</a>
                </li>
            </ul>
        </section>

        <hr style="border: 1px solid black; margin: 20px 20px;">

        <section class="mb-5">
            <h2 class="h3">Geography Teachers' Associations:</h2>
            <ul class="link-list list-unstyled ms-0">
                <li>
                    <a href="https://agta.au/">Australian Geography Teachers' Association</a>
                </li>
                <li>
                    <a href="https://geography.org.uk/">Geographical Association (UK)</a>
                </li>
                <li>
                    <a href="https://www.gtasa.asn.au/">Geographical Association of Western Australia</a>
                </li>
                <li>
                    <a href="https://www.gtansw.org.au/">Geography Teachers' Association of New South Wales</a>
                </li>
                <li>
                    <a href="https://www.gtaq.com.au/">Geography Teachers' Association of Queensland</a>
                </li>
                <li>
                    <a href="https://www.gtasa.asn.au/">Geography Teachers' Association of South Australia</a>
                </li>
                <li>
                    <a href="https://www.gtav.asn.au/">Geography Teachers' Association of Victoria</a>
                </li>
                <li>
                    <a href="https://ncge.org/">National Council for Geographic Educaton (USA)</a>
                </li>
            </ul>
        </section>

        <hr style="border: 1px solid black; margin: 20px 20px;">

        <section class="mb-5">
            <h2 class="h3"> International sites:</h2>
            <ul class="link-list list-unstyled ms-0">
                <li>
                    <a href="https://en.wikipedia.org/wiki/List_of_geographical_societies">Geographical Societies of the World</a>
                </li>
                <li>
                    <a href="https://www.aag.org/">Association of American Geographers</a>
                </li>
                <li>
                    <a href="https://igu-online.org/">National (USA) Geographical Society</a>
                </li>
                <li>
                    <a href="https://rcgs.org/">Royal Canadian Geographical Society</a>
                </li>
                <li>
                    <a href="https://www.rgs.org/">Royal Geographical Society (with the Institute of British Cartographers)</a>
                </li>
                <li>
                    <a href="https://www.rsgs.org/">Royal Scottish Geographical Society</a>
                </li>
                <li>
                    <a href="https://www.ssag.co.za/">Society of South African Geographers</a>
                </li>
            </ul>
        </section>
        <hr style="border: 1px solid black; margin: 20px 20px;">
        </div>
        <footer class="footer">
        <div class="footer-container">
            <a href="https://cdn.wildapricot.com/240825/resources/Documents/Administrative/2018_RGSQ%20Ltd_Privacy%20Policy.pdf?version=1575264460000&Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vY2RuLndpbGRhcHJpY290LmNvbS8yNDA4MjUvcmVzb3VyY2VzL0RvY3VtZW50cy9BZG1pbmlzdHJhdGl2ZS8yMDE4X1JHU1ElMjBMdGRfUHJpdmFjeSUyMFBvbGljeS5wZGY~dmVyc2lvbj0xNTc1MjY0NDYwMDAwIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNzU0OTc4MjUxfSwiSXBBZGRyZXNzIjp7IkFXUzpTb3VyY2VJcCI6IjAuMC4wLjAvMCJ9fX1dfQ__&Signature=e-RdXWajsAbE4LFyQ~hwXrXoWC8wP5EwhHoDHEffWy3MGI55BfvRt4fYvNEVPtpaOIns3hBdhjKgt0-W37QYT5GfX3atUEKyYd9dXTh88512Ce4~nuqAfhDH4Gx2~YShFV9N9AlZ6AGqwnrJWm-maa4hTTBXIECnzDtBPNaFceQO3lEUHz9dXHM~iEQsxAAs7bNgtEbaoWr-vyfkl7VN4ShXo2d7QMB5kVqWvxTbh2naIVD0RZE8aN5RKxKnapZ4Mt4QpLBI6Nc5HOPt~cODJiQEyRxSzYYc-tp45ZsKKKtp3DaHoFQ~cjrTpJml1FzRNjw~IoacOCsITqHFtob2VA__&Key-Pair-Id=K27MGQSHTHAGGF" class="footer-link">Privacy Policy</a>
            <span class="footer-separator">|</span>
            <a href="Contact.html" class="footer-link">Contact Us</a>
            <span>© 2025 RGSQ</span>
            <span class="footer-separator">|</span>
            <a href="#" class="footer-link">Site Map</a>
        </div>
    </footer>
</body>
</html>
