<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>RGSQ</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="homepage.html">
                <img src="{{url_for('static',filename='images/logo.png')}}" alt="Logo" class="navbar-logo">
                <div class="navbar-title">The Royal Geographical Society<br>
                    Of Queensland Lta</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class ="nav-item">
                        <a class="nav-link" href="homepage.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Society</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="About the society.html">About the society</a>
                            <a class="dropdown-item" href="Governance.html">Governance</a>
                            <a class="dropdown-item" href="Committees.html">Committees</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Event
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Eventlist.html">Event List</a>
                            <a class="dropdown-item" href="Create.html">Create Event</a>
                            <a class="dropdown-item" href="Update Event.html">Update Event</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            PROJECTS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="AustraliaGeographyCompitions.html">Australia Geography
                                Compitions</a>
                            <a class="dropdown-item" href="Lambertcenter.html">Lambert center</a>
                            <a class="dropdown-item" href="Queenslandbydegrees.html">Queensland by Degrees</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Libaray.html">Libaray</a>
                            <a class="dropdown-item" href="VenueHire">Venue Hire</a>
                            <a class="dropdown-item" href="Bulletin.html">Bulletin</a>
                            <a class="dropdown-item" href="Geographywebsite.html">Geography website</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Membership
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Memberbenefits.html">Benefits</a>
                            <a class="dropdown-item" href="JoinRGSQ.html">Join RGSQ</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSetting" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Username
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownSetting">
                            <a class="dropdown-item" href="Join RGSQ.html">Join RGSQ</a>
                            <a class="dropdown-item" href="login.html">Login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    

   <section class="hero-banner">
  <div class="hero-container">
    <div class="hero-text">
      <h1>Exploring Geography, <br>Connecting Communities</h1>
    </div>
  </div>
</section>

    <div class="container mt-5">
        <h2>Upcoming Events</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/1.png')}}"class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Geography writing competition</h5>
                        <p class="card-text">Date: 18:30 PM Oct 21, 2025</p>
                        <p class="card-text color:">Location: Brisbane</p>
                        <p class="card-text">Price: $1</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/2.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Olympic Games - Elevate 2042 - Legacy </h5>
                        <p class="card-text">Date: 19:00 PM Aug 1, 2025</p>
                        <p class="card-text">Location: Brisbane</p>
                        <p class="card-text">Prices: $12</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/3.jpeg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Recovering nature for the benefit of people and planet</h5>
                        <p class="card-text">Date: 20:00 PM July 5, 2025</p>
                        <p class="card-text">Location: Brisbane</p>
                        <p class="card-text">Prices: $30</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/museum.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Visit to the Queensland communications Museum</h5>
                        <p class="card-text">Date: 17:30 PM Aug 1, 2025</p>
                        <p class="card-text">Location: The Queensland communication Museum </p>
                        <p class="card-text">Prices: $10</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2>News & Article</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/4.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Geography writing competition</h5>
                        <p class="card-text">Date: 18:30 PM Aug 21, 2025</p>
                        
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Entry</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/5.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Olympic Games - Elevate 2042 - Legacy </h5>
                        <p class="card-text">Date: 19:00 PM Aug 1, 2025</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Entry</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/6.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Recovering nature for the benefit of people and planet</h5>
                        <p class="card-text">Date: 20:00 PM July 5, 2025</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Entry</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 d-flex">
                <div class="card h-100 w-100 shadow-s">
                    <a href="Detail.html"><img src="{{url_for('static',filename='images/8.jpg')}}" class="card-img-top"></a>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Visit to the Queensland communications Museum</h5>
                        <p class="card-text">Date: 17:30 PM Aug 1, 2025</p>
                        <a href="Detail.html" class="btn btn-success btn-sm mt-3 align-self-start">Entry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
