<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>RGSQ</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('Home') }}">
                <img src="{{url_for('static',filename='images/logo.png')}}" alt="Logo" class="navbar-logo">
                <div class="navbar-title">RGSQ</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Home') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Society</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Aboutsociety.html">About the society</a>
                            <a class="dropdown-item" href="Governance.html">Governance</a>
                            <a class="dropdown-item" href="Committees.html">Committees</a>
                            <a class="dropdown-item" href="SocietyNews.html">News</a>
                            <a class="dropdown-item" href="AwardsPrizes.html">Awards & Prizes</a>
                            <a class="dropdown-item" href="StudentResearchGrants.html">Student Research Grants</a>
                            <a class="dropdown-item" href="Honoursboard.html">Honours Board</a>
                            <a class="dropdown-item" href="Donate.html">Donate</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Event
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Eventlist.html">Event List</a>
                            <a class="dropdown-item" href="Create.html">Create Event</a>
                            <a class="dropdown-item" href="Update Event.html">Update Event</a>
                            <a class="dropdown-item" href="Disclaimer.html">Disclaimer</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            PROJECTS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="AustraliaGeographyCompetitions.html">Australia Geography
                                Competitions</a>
                            <a class="dropdown-item" href="Lambertcenter.html">Lambert center</a>
                            <a class="dropdown-item" href="Queenslandbydegrees.html">Queensland by Degrees</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            Resources
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Library.html">Libaray</a>
                            <a class="dropdown-item" href="Venuehire.html">Venue Hire</a>
                            <a class="dropdown-item" href="Bulletin.html">Bulletin</a>
                            <div class="dropend">
                                <a class="dropdown-item dropdown-toggle" href="#" id="collectionsMenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Collections
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="collectionsMenu">
                                    <li>
                                        <a class="dropdown-item" href="PhilateliesCover.html">Philatelies Cover</a>
                                    </li>
                                </ul>
                            </div>
                            <a class="dropdown-item" href="Geographywebsite.html">Geography website</a>
                            <a class="dropdown-item" href="Museums and other attractions.html"> Museums and other
                                attractions</a>
                            <a class="dropdown-item" href="MapResources.html">Map Resources</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Membership
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Memberbenefits.html">Benefits</a>
                            <a class="dropdown-item" href="JoinRGSQ.html">Join RGSQ</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contact.html">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSetting" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Username
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownSetting">
                            <a class="dropdown-item" href="JoinRGSQ.html">Join RGSQ</a>
                            <a class="dropdown-item" href="Login.html">Login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="member-benefit-container">
        <div class="member-benefit-title">MEMBERSHIP BENEFITS</div>
        <p class="member-benefit-intro">
            At RGSQ, we’re more than just a society – we’re a vibrant community of people who share an interest in
            geography and in exploring our natural and built environments. As a member, you will unlock a world of
            opportunities:
        </p>

        <a href="JoinRGSQ.html" class="member-benefit-button">Join RGSQ today</a>

        <div class="member-benefit-section">
            <h2>Discounts and Savings</h2>
            <p>
                Enjoy early access and discounted rates for all our <a href="#">Events and Activities</a>. These include
                lectures, discussion panels and trips, focussing on a wide range of topics and places.
            </p>
        </div>

        <div class="member-benefit-section">
            <h2>Local, National and Overseas Trips for Members Only</h2>
            <p>
                Join unique local, national, and overseas trips available exclusively to RGSQ members. See where we’ve
                been in our <a href="#">Past Events</a>.
            </p>
        </div>

        <div class="member-benefit-section">
            <h2>Access to Resources</h2>
            <p>
                Dive into our extensive Library housing over 3,000 books and a growing collection of journals and maps.
                Borrowing is a members-only privilege.
            </p>
        </div>

        <div class="member-benefit-section">
            <h2>Showcasing Your Creativity</h3>
                <p>
                    Enter the members’ only <a href="#">Photo Competition</a> and win great prizes & bragging rights!
                    See
                    past entries <a href="#">here</a>.
                </p>
        </div>

        <div class="member-benefit-section">
            <h2>Volunteer Opportunities</h2>
            <p>
                Join projects, events or committees – numerous ways to contribute your skills and expertise.
            </p>
        </div>

        <div class="member-benefit-section">
            <h2>Members Forum</h2>
            <p>
                Join our <a href="#">Members Forum</a> to exchange ideas, resources and collaborate.
            </p>
        </div>

        <div class="member-social-icons">
            <a href="https://www.facebook.com/RGSQld" target="_blank">
                <img src="../static/images/facebook.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://x.com/The_RGSQ" target="_blank">
                <img src="../static/images/twitter.png" alt="Twitter" class="social-icon">
            </a>
            <a href="https://au.linkedin.com/company/royal-geographical-society-of-queensland" target="_blank">
                <img src="../static/images/LinkedIn.png" alt="LinkedIn" class="social-icon">
            </a>
            <a href="https://www.youtube.com/channel/UC2WD4ARJhBDIiOxa3qndb4Q" target="_blank">
                <img src="../static/images/youtube.png" alt="YouTube" class="social-icon">
            </a>
            <a href="https://www.instagram.com/thergsq/" target="_blank">
                <img src="../static/images/instagram.png" alt="Instagram" class="social-icon">
            </a>
        </div>
        <hr style="border: 1px solid black; margin: 40px 40px;">

        <footer class="footer">
            <div class="footer-container">
                <a href="https://cdn.wildapricot.com/240825/resources/Documents/Administrative/2018_RGSQ%20Ltd_Privacy%20Policy.pdf?version=1575264460000&Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vY2RuLndpbGRhcHJpY290LmNvbS8yNDA4MjUvcmVzb3VyY2VzL0RvY3VtZW50cy9BZG1pbmlzdHJhdGl2ZS8yMDE4X1JHU1ElMjBMdGRfUHJpdmFjeSUyMFBvbGljeS5wZGY~dmVyc2lvbj0xNTc1MjY0NDYwMDAwIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNzU0OTc4MjUxfSwiSXBBZGRyZXNzIjp7IkFXUzpTb3VyY2VJcCI6IjAuMC4wLjAvMCJ9fX1dfQ__&Signature=e-RdXWajsAbE4LFyQ~hwXrXoWC8wP5EwhHoDHEffWy3MGI55BfvRt4fYvNEVPtpaOIns3hBdhjKgt0-W37QYT5GfX3atUEKyYd9dXTh88512Ce4~nuqAfhDH4Gx2~YShFV9N9AlZ6AGqwnrJWm-maa4hTTBXIECnzDtBPNaFceQO3lEUHz9dXHM~iEQsxAAs7bNgtEbaoWr-vyfkl7VN4ShXo2d7QMB5kVqWvxTbh2naIVD0RZE8aN5RKxKnapZ4Mt4QpLBI6Nc5HOPt~cODJiQEyRxSzYYc-tp45ZsKKKtp3DaHoFQ~cjrTpJml1FzRNjw~IoacOCsITqHFtob2VA__&Key-Pair-Id=K27MGQSHTHAGGF"
                    class="footer-link">Privacy Policy</a>
                <span class="footer-separator">|</span>
                <a href="Contact.html" class="footer-link">Contact Us</a>
                <span>© 2025 RGSQ</span>
                <span class="footer-separator">|</span>
                <a href="#" class="footer-link">Site Map</a>
            </div>
        </footer>
    </div>